*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
option,
textarea {
  border: unset;
  outline: unset;
}

i,
em {
  font-style: inherit;
}

b,
strong {
  font-weight: inherit;
}
f-col,
f-row {
  background-color: #0002;
}
*:has(> f-row),
*:has(> f-col) {
  display: flex;
}
*:has(> f-col) {
  flex-direction: row;
}

*:has(> f-row) {
  flex-direction: column;
}

.fig-center {
  display: grid;
  place-content: center;
}

.fig-wh {
  --fig1: 100%;
  --fig2: transparent;
  width: var(--fig1);
  height: var(--fig1);
  background-color: var(--fig2);
}
.fig-innerRow {
  display: flex;
  flex-direction: row;
}

.fig-innerCol {
  display: flex;
  flex-direction: column;
}