*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button,
input,
select,
option,
textarea {
  border: unset;
  outline: unset;
}

i,
em {
  font-style: inherit;
}

b,
strong {
  font-weight: inherit;
}

.fig-center {
  display: grid;
  place-content: center;
}
.fig-wh {
  --wh1: 100%;
  --wh2: transparent;
  width: var(--wh1);
  height: var(--wh1);
  background-color: var(--wh2);
}
.fig-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fig-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fig-pseudoEl {
  --pseudoEl1: '';
  --pseudoEl2: '';
  &::before,
  &::after {
    display: block;
  }
  &::after {
    content: var(--pseudoEl1);
  }
  &::before {
    content: var(--pseudoEl2);
  }
}